.er-flex {
	display: flex;
}
.er-items-center {
	align-items: baseline;
}
.er-space-x-2 {
	gap: 8px;
}
.er-space-x-3 {
	gap: 12px;
}
.er-space-x-4 {
	gap: 16px;
}
.er-kanban-columns {
	justify-content: center;
	margin-top: 40px;
}
.er-kanban-column {
	width: 300px;
	min-height: 400px;
	padding: 10px;
	background-color: #f4f5f75e;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.er-kanban-column h3 {
	font-size: 18px;
	font-weight: 300;
	color: #333;
	background: #ffffff42;
	padding: 6px 10px;
	text-align: center;
}
.er-kanban-item {
	padding: 10px;
	margin: 10px 0;
	background-color: #ffffff;
	cursor: grab;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.er-kanban-item:active {
	cursor: grabbing;
}
.er-ui-state-highlight {
	background: #f3f4f6;
	border: 2px dashed #cbd5e0;
	height: 50px;
	margin: 10px 0;
	border-radius: 4px;
}
.er-empty-column-placeholder {
	color: #999;
	font-size: 0.875rem;
	text-align: center;
	margin: 20px 0;
}
.er-kanban-item:hover {
	background-color: #f9f9f9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.er-dragging {
	transform: rotate(-3deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.er-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 40;
	display: none;
	max-width: 100% !important;
}
.er-modal {
	top: calc(50% - 300px);
	left: calc(50% - 350px);
	z-index: 50;
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	display: none;
	width: 700px;
	max-height: 80vh;
	overflow-y: auto;
	position: relative;
	max-height: 600px;
}
#er-modal-content > *:not(:last-child) {
	margin-bottom: 1rem;
}
.er-close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	background: none;
	border: none;
}
#er-modal-title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: #333;
}
#er-modal-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
#er-modal-link:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M9 3h8v8l-2-1V6.92l-5.6 5.59l-1.41-1.41L14.08 5H10zm3 12v-3l2-2v7H3V6h8L9 8H5v7z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.er-vote-btn {
	align-items: center;
	gap: 4px;
	cursor: pointer;
	background: #f5f5f5;
	font-size: 1rem;
	padding: 1px 4px;
	border-radius: 4px;
	border: 1px solid #ebebeb;
}
.er-vote-btn svg {
	width: 20px;
	height: 20px;
}
#er-upvote-count,
#er-downvote-count {
	font-size: 1rem;
	font-weight: bold;
	color: #333;
}